*{
    box-sizing: border-box;
}
body{
    background-color: rgb(173, 205, 209);
    color: aliceblue;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0;
}
#canvas{
    margin-top: 20px;
    background-color: rgb(194, 212, 206);
    border-radius: 5px;
    box-shadow: 0px 10px 10px 10px black;
    
}
#controle{
    margin-top: 40px;
    box-shadow: 0px 10px 10px 10px black
}
.btn{
    height: 60px;
}
#note{
    visibility:hidden;
}

@media only screen and (max-width: 1200px) {
    #note{
        visibility:visible;
    }
    #canvas{
        visibility:hidden;
    }
    #controle{
        visibility:hidden;
    }
 } 